@font-face {
  font-family: League Spartan;
  src: url("/static/fonts/league-spartan/LeagueSpartan-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: League Spartan;
  src: url("/static/fonts/league-spartan/LeagueSpartan-Light.woff2")
    format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: League Spartan;
  src: url("/static/fonts/league-spartan/LeagueSpartan-Medium.woff2")
    format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: League Spartan;
  src: url("/static/fonts/league-spartan/LeagueSpartan-Regular.woff2")
    format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: League Spartan;
  src: url("/static/fonts/league-spartan/LeagueSpartan-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: League Spartan;
  src: url("/static/fonts/league-spartan/LeagueSpartan-Bold.woff2")
    format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: League Spartan;
  src: url("/static/fonts/league-spartan/LeagueSpartan-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: League Spartan;
  src: url("/static/fonts/league-spartan/LeagueSpartan-Black.woff2")
    format("woff2");
  font-weight: 900;
}
